Flask==3.0.2
python-dotenv==1.0.1
requests==2.31.0
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
plotly==5.22.0
joblib==1.4.2
numpy==1.26.4

# for data exploration
jupyter==1.0.0
notebook==7.2.0
