{% extends 'base.html' %}

{% block content %}
<h2>Climate Prediction for Next {{ years_ahead }} Years</h2>

<div class="graphs">
    <div id="tempGraph">{{ graphs.temp_graph | safe }}</div>
    <div id="rainGraph">{{ graphs.rain_graph | safe }}</div>
    <div id="humGraph">{{ graphs.hum_graph | safe }}</div>
</div>

<h3>Recommended Crops Based on Predictions:</h3>
<ul class="crop-list">
    {% for crop in crops %}
        <li>{{ crop }}</li>
    {% endfor %}
</ul>

<a href="{{ url_for('main.index') }}" class="back-link">Back to Home</a>
{% endblock %}